body{
    background: rgb(221, 237, 237);
}
h2{
    text-align: center;
}

  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
* {
   margin: 0;
  padding: 0;
}
html {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  

}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
  height: 20vh;
  width: 100%;
  background-color: #6faaca;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex: 1;
}

ul, li {
  list-style: none;
}


ul a, a {
  text-decoration: none;
  color: #c1121f;
}

.menu > a {
  border: 1.5px solid #000000;
  padding: .75rem 1.5rem;
  background-color: transparent;
  appearance: none;
  background-color: white;
}

.menu {
  position: relative;
  display: flex;
  gap: .5rem;
  align-items:center;
  justify-content: flex-start;
}

ul {
  position: absolute;
  top: 100%;
  left: -2rem;
  background-color: #fdf0d5;
  border-radius: .5rem;
  padding: .5rem;
  display: none; 
}

.menu:hover ul {
  display: block;
  
}
.menu:hover > a {
  border-color: #dbc5c5;
  color: #000000;
  background-color: burlywood;
  box-shadow: 4px 3px 3px 3px wheat;
}

.menu ul a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  min-width: 15rem;
  
}

.menu ul a:hover{
  background-color: #003049;
  color: #fdf0d5;
}



